<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>JavaScript学习项目</title>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-default/index.css">
</head>
<body>
    <a href="d4.html">数据类型</a>

    <div id="app">
        <el-button @click="visiable=true">按钮</el-button>
        <el-dialog v-model="visiable" title="HelloWorld">
            <p>欢迎使用</p>
        </el-dialog>
    </div>

</body>
<script src="../static/vue.js"></script>
<script src="../static/element-ui/lib/index.js"></script>

<script>
    new Vue({
        el:"#app",
        data:function () {
            return{visiable:false}
        }
    });
</script>

</html>